:root {
  --prime_red: #b11313;
  --prime_yellow: #f1c530;
  --prime_blue: #114c92;
  --prime_black: #000000;
  --prime_white: #ffffff;
}
* {
}
header {
  background-color: var(--prime_yellow);
}

figure {
  padding: 0 5%;
}
figure * {
  color: var(--prime_black);
}

figure img {
  width: 100%;
}
figcaption {
  background-color: var(--prime_yellow);
  border: solid 7px var(--prime_black);
  border-top: 0px;
  border-radius: 0% 0% 20% 20%;
  font-size: xx-small;
}
.grandTitreAdversaires {
  background: url(../Illustration/img7.png) no-repeat;
  background-size: cover;
  padding: 25% 4% 4%;
}
.listeDesAdv {
  background-color: var(--prime_yellow);
}

.langue_yellow {
  background-color: var(--prime_yellow);
}
footer .iconEtCopyright i {
  color: var(--prime_yellow);
  padding: 1%;
}
footer select {
  background-color: var(--prime_yellow);
  border-radius: 10px;
}
