root {
  --prime_red: #b11313;
  --prime_yellow: #f1c530;
  --prime_blue: #114c92;
  --prime_black: #000000;
  --prime_white: #ffffff;
}

html * {
  color: var(--prime_white);
}
header {
  background-color: var(--prime_blue);
}
h5 {
  font-size: 110% !important;
}
.grandTitreHeros {
  color: var(--prime_blue);
  background: url(../Illustration/img19.png) 50% 50% no-repeat;
  background-size: cover;
  padding-top: 50%;
  padding: 20% 13% 15%;
}
.valeursAdetendre {
  background-color: var(--prime_blue);
}

.valeursAdetendre iframe {
  text-align: center;
  width: 100%;
  height: 105%;
  padding: 5%;
  margin-top: -12%;
  border: solid rgba(255, 255, 255, 0.5) 1px;
  border-radius: 10px 50px;
}

.fondationSolide {
  background: url(../Illustration/img20.png) 50% 50% no-repeat;
  background-size: 100%;
  background-size: cover;
  padding: 8% 4% 20%;
}
.descriptionFondationSolide {
  background-color: var(--prime_blue);
}
.jamaisSeul {
  background-color: var(--prime_blue);
}

.imageSuperpose {
  margin-top: -15%;
  margin-left: 25%;
}

.lesAvengers {
  background-color: var(--prime_red);
}

.lesAvengersProfils img {
  width: 100%;
  padding: 4% 0 4% 0;
}

.UniversRiche {
  background: url(../Illustration/img33.png) 100% 100% no-repeat;
  background-size: cover;
}

.fondBleuSupperpose {
  background-color: rgba(17, 76, 146, 0.5);
  margin: 0 10% 0 55%;
}

footer .iconEtCopyright i {
  color: var(--prime_blue);
  padding: 1%;
}
footer select {
  background-color: var(--prime_blue);
  border-radius: 10px;
}
/* **************************** Media query ******************************** */

header .menuDeroul_items li a{
  background-color:rgba(17, 76, 146, 0.8) !important;
}

/* ************************************************************************* */