:root {
  --prime_red: #b11313;
  --prime_yellow: #f1c530;
  --prime_blue: #114c92;
  --prime_black: #000000;
  --prime_white: #ffffff;
}
* {
  color: var(--prime_white);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-size: xx-small;
}
li,
ul {
  padding: 0;
  margin: 0;
}
nav {
  color: var(--prime_white);
  font-size: x-small;
}
nav a,
nav a:hover {
  text-decoration: none;
  color: var(--prime_white);
}

nav li,
footer li {
  text-decoration: none;
  list-style-type: none;
}

/* MAIN  Home_page*/

.grandTitre {
  color: var(--prime_white);
  background: url(../Illustration/img1.png) 100% 50% no-repeat;
  background-size: cover;
}

.grandTitre .container {
  padding: 30% 0;
}
.boutton {
  background-color: var(--prime_white);
  color: var(--prime_red);
  border: 0;
  font-size: xx-small;
  border-radius: 15px;
  padding: 8px 4px;
  white-space: nowrap;
}

.boutton_no_bg {
  background-color: none;
  color: var(--prime_white);
  border: solid 0.2px var(--prime_white);
  font-size: xx-small;
  border-radius: 15px;
  padding: 8px 4px;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0);
}

.auCinema {
  color: var(--prime_white);
  background-color: var(--prime_red);
}
.auCinema img {
  width: 100%;
}
.auCinema .col-md-3 {
  width: 30%;
}

.deviensSpiderman {
  background: url(../Illustration/img5.png) no-repeat var(--prime_blue) 0% 50%;
  background-size: contain;
}

.formAremplir {
  margin: 1% 0;
  border-radius: 50px;
  width: 100%;
  color: var(--prime_black);
}

.formAremplir_no_bg {
  margin: 2% 0;
  border-radius: 50px;
  width: 100%;
  color: var(--prime_black);
  background-color: rgba(0, 0, 0, 0);
  border: 0.2px solid white;
}

.inscritToi {
  background: url(../Illustration/img6.png) var(--prime_red) 130% 0% no-repeat;
  background-size: contain;
  padding: 5% 0 20% 0;
}

/* FOOTER  */
footer {
  text-align: center;
  font-size: xx-small;
  background-color: var(--prime_black);
}
.footerMenu {
  color: white;
}
.footerMenu ul {
  align-items: center;
}
.footerMenu li {
  padding: 0 1% 0 0;
}
footer .iconEtCopyright span {
  border-radius: 50%;
}
footer .iconEtCopyright span {
  background-color: var(--prime_red);
}

#copyright {
  color: var(--prime_white);
}

@media screen and (max-width: 440px) {
  .container,
  .row,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
  .footerMenu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2% 10%;
  }

  .footerMenu #langue {
    align-self: flex-end;
  }
}
